body {
    text-align: center;
} * {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
} h1 {
    font-size: 2em;
    padding: 0;
    vertical-align: top;
    margin-top: 0;
} p {
    font-size: 1.2em;
} .disclaimer {
    line-height: 35px;
    vertical-align: bottom;
} #mail_sent {
    color: #6c0;
    font-size: 1.5em;
    display: none;
    vertical-align: middle;
    margin-top: 365px;
    text-align: center;
}
