article {
  padding-left: 10%;
}
table {
  width: 75%;
  max-width: 1000px;
  min-width: 280px;
  font-size: 1.1em;
}
td {
  padding: 3px;
}
.blank {
  width: 85px;
  height: 15px;
  border-bottom: 1px solid #333;
  display: inline-block;
  margin: 0 8px;
}
.number {
  padding-left: 3px;
  font-weight: 400;
}
.correct {
  background-color: #dfd;
}
.incorrect {
  background-color: #fdd;
}
.to-be-graded {
  background-color: #ddf;
}
