/* Colors: http://colorpeek.com/#0167cb,333333,ffcc33 */
/* Global styles */
* {
    box-sizing: border-box;
}
body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    
} h1 {
    font-weight: 300 !important;
    line-height: 50px;
    font-size: 3.75em;
} h2 {
    font-weight: 300 !important;
} h3 {
    font-size: 1.75em;
    font-weight: 300 !important;
    line-height: 25px;
} h6 {
    font-weight: 300 !important;
    line-height: 25px;
    font-size: 1em;
} .home {
    margin-left: 25px;
} .warning {
    color: #B6332F;
    font-weight: 400;
} .disclaimer {
    font-size: 0.85em;
    font-style: italic;
    margin-top: 20px;
    line-height: 25px;
} .btn {
    display: inline-block;
    height: 35px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    margin-top: 8px;
} .btn-two {
    background-color: #fc3;
    border-color: #f7b900;
} .btn-two:hover {
    background-color: #e4ab00;
    border-color: #fc3;
} .hidden {
    opacity: 0;
} .dotted-line {
    border-top: 2px dotted #cccccc;
    background-color: #ffffff;
    height: 1px;
    width: 55%;
    min-width: 175px;
    max-width: 800px;
    margin: 20px auto 20px auto;
}
.form-control {
    width: 50%;
    max-width: 750px;
    min-width: 150px;
}
/* We're now using Bootstrap for field styling, I'm just leaving this here. */
/* .field {
    border-radius: 5px;
    border: 1px solid #0167eb;
    box-shadow: inset 0 1px 0px #0167cb;
    width: 50%;
    max-width: 750px;
    min-width: 150px;
    padding: 5px;
} .field:hover {
    border-top: 1px solid #0167eb;
    box-shadow: 0 0 5px #0167eb;
    -webkit-box-shadow: 0 0 8px #7ebffe;
    -moz-box-shadow: 0 0 8px #7ebffe;
} .field:focus {
    box-shadow: 0 0 10px #0167cb;
    -webkit-box-shadow: 0 0 10px #0167cb;
    -moz-box-shadow: 0 0 10px #0167cb;
    outline: none;
} */
header {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	width: 100%;
	margin-bottom: 25px;
} header span {
	font-size: 2.5em;
	vertical-align: bottom;
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
} header div {
    margin-top: 35px;
	margin-bottom: 35px;
} .btn-primary {
    margin-left: auto;
    margin-right: 10px;
} .btn-two {
    margin-left: 10px;
    margin-right: auto;
} header .btn-success {
    margin-left: 0px;
    margin-right: 15px;
} header .btn-danger {
    margin-left: 15px;
    margin-right: 0px;
}
