article {
  width: 50%;
  margin-left: 20%;
  margin-right: 30%;
}
article h4 {
  line-height: 2em;
}
article .btn-primary {
  margin-bottom: 25px;
}
article label {
  font-weight: 400 !important;
}
.fb {
  line-height: 3em;
  vertical-align: top;
}
.fb input {
  height: 2em !important;
  display: inline !important;
  width: 5em !important;
  margin: 1em 4px 4px 4px;
}
textarea {
  font-weight: 400 !important;
  font-size: 1.35em !important;
  line-height: 1.5em !important;
  color: #333 !important;
  width: 20em !important;
  height: 12em !important;
}
.timer {
  width: 5em;
  height: 3em;
  border-radius: 12px;
  margin: 15px 15px auto auto;
  position: fixed;
  border: 1px solid #f6ae00;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.timer .icon {
  width: 0.9em;
  height: 0.9em;
  background-size: 0.9em 0.9em;
  background-image: url("");
  margin-top: auto;
  margin-bottom: auto;
}
.timer .number {
  color: #f6ae00;
  font-size: 1.2em;
  line-height: 2em;
  vertical-align: middle;
}
@media only screen and (max-width : 1024px) {
  header span {
    font-size: 1.5em !important;
  }
  article {
    width: 75%;
    margin-left: 8%;
  }
  .dotted-line {
    width: 70% !important;
    margin-left: 0 !important;
    margin-right: auto;
  }
}
